.model-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-content: flex-start;
    height: 100vh;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.model-title {
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 10px;
    text-align: left;
}

.model-func-box {
    min-width: 300px;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
}
.model-box {
    max-width: 600px;
    margin: 10px 25px ;
    border-radius: 10px;
}
.model-box2 {
    max-width: 600px;
    margin: 115px 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.model-box2 h2{
    font-weight: bold;
    font-size: 1rem;
}
.model-box2 p{
    font-weight: normal;
    font-size: 0.9rem;
}
.model-box2-sup{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
}
.model-box2-inf{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
}
.model-description {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
}

/* Pantallas grandes (más de 1024px) */
@media (min-width: 1024px) {
    .model-container {
      padding: 20px;
      margin: auto;
    }
}
  
  /* Pantallas medianas (entre 600px y 1024px) */
@media (max-width: 1024px) and (min-width: 750px) {
    .model-container {
      padding: 15px;
    }
}
  
  /* Pantallas pequeñas (hasta 600px) */
@media (max-width: 750px) {
    .model-container {
        flex-wrap: wrap;
        padding: 10px;
        justify-content: space-evenly;
    }
    .model-box {
        width: 100%;
        margin: 25px;
    }
    .model-box2  {
        width: 100%;
        margin: 25px;
    }
}

/* Botón estilizado */
.button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.button:hover {
    background-color: #0056b3;
}

/* Loader - Círculo animado */
.loader {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid #007BFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}